<div class="columns is-desktop">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Categories</p>
      </header>
      <div class="card-content">
        <div class="content">
          <canvas id="pieChart">{{pieChart}}</canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">5 Of The Most Expensive Products</p>
      </header>
      <div class="card-content">
        <div class="content">
          <canvas id="barChart" class="mt-5">{{polarAreaChart}}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>

